.qualification-container {
    text-align: center;
  }
  
  .qualification-box {
    width: 80%;
    height:30%;
    border: 1px solid #e0dcdc; /* You can customize the border color */
    margin: 10px auto; /* Adjust margin as needed */
    padding: 10px;
  }

  .qualification-box h2 {
    margin-bottom: 5px;
  }
  
  .qualification-box p {
    margin: 0;
  }
  