#contactMe{
  height: calc(100vh-4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  position: relative;
}
.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2em;
  padding-bottom:5rem;
  color: rgb(238, 234, 230);
  border-radius: 5px;
  padding-top: 100px;

}
.contactContent{
  /* margin-top: 0px; */
  display: flex;
  justify-content: space-between; 
  width: 100%;
  margin-right: 0px;
  margin-left: 10px;

}
.row{
 
  width: 60%;
  margin-right: 50px;
}
.contact-form{
  width: 50%;
  padding: 5rem;
  padding-right: 50px;
  margin-left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  text-align: center; /* Center the form content */
  /* Responsiveness */
  max-width: 700px; /* Set a maximum width for smaller screens */
  margin: 0 auto; 
  margin-right: 50px;
  margin-top: 20px;
}
.heading{
  font-size: 1.3em;
  margin-bottom: 40px;
  
}
.intro-paragraph {
  font-size: 18px;
  line-height: 1.7rem;
  margin-bottom: 30px;
  padding-left: 2rem;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 80px;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;

}
.social-icons.move-left {
  margin-left: -10px; 
}

.social-icons a {
  margin: 0 10px; 
}

.social-icons img {
  width: 30px;
  height: 30px; 
}







.contact-form{
  width: 50%;
  padding: 5rem;
  padding-right: 50px;
  margin-left: 0;
 
  text-align: center; /* Center the form content */
  /* Responsiveness */
  max-width: 700px; /* Set a maximum width for smaller screens */
  margin: 0 auto; 
  margin-right: 50px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
}
.contact-form-fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
 
}

.contact-form-fields > div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
 
.name-field {
  color: white;
  font-size: 1.2em;
  
}
.email-field {
  color: white;
  font-size: 1.2em;

}
.message-field {
  font-size: 1.2em;
  gap: 1rem;
}
input{
  color: white;
  font-size: 28px;
  width: 100%;
  font-size: 0.8em;
  font-family: 'Courier New', Courier, monospace;
  height: 10%;
}
textarea {
  color: white;
  font-size: 0.em;
  font-family: 'Courier New', Courier, monospace;
  width: 80%;
  height: 20%; /* Set width and height based on requirements */
 
}

.contact-form-submit {
  background-color: #007bff;
  color: white;
  padding: 5px 5px;
  font-size: 1.2em;
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 3px;
  cursor: pointer;
  gap: 1rem;
  text-align: center;
  align-items: center;
  margin-top: 15px;
}

/* .contactContent{
  height: 70vh;
  width: 100vw;
  padding-left: 2rem;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  align-items: center; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
} */