#intro{
    height: calc(100vh-4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    position: relative;
}

.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.hello{
    font-size: 1.75rem;
    font-weight: 100;
}
.introName{
    color: yellow;
}
.introPara{
    font-size: medium;
    font-weight: 400;
    letter-spacing: 1px;
}

.bg{
    position: absolute;
    top: -4rem;
    z-index: -1;
    right: 0;
    height: 100vh;
    width: auto;
    object-fit: cover;
}
@media screen and (max-width: 400px) {
    .bg{
        right: -20vw;
        height: 100vh;
    }
    .introContent{
        font-size: 10vw;
    }
    .hello{
        font-size: 4.5vw;
    } 
}

