
   #projects{
    height: calc(100vh-4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    position: relative;
   }
  
   .projects{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2em;
    padding-bottom:2rem;
    color: rgb(238, 234, 230);
    border-radius: 5px;
    padding-top: 100px;
   }

   .projectContent{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    width: 100vw;
    /* padding-bottom: 2rem; */
   
   }

  .project-card {
    width: 300px;
    height: 400px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
  }
  
  .image-container {
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
    /* width: ; */
  }
  
  img {
    width: 100%;
    object-fit: cover;
    height: 150px;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  
  p {
    margin-bottom: 15px;
    line-height: 1.5;
  }
  
  a {
    color: #e9dbdb;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
  .view-source-btn{
      background-color: rgb(59, 150, 231);
      color: white;
      width: 120px;
      height: 40px;
      align-items: center;
      justify-content: center;
  }