.project-container {
  height: calc(100vh-4rem); /* Change height to auto */
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto; /* Add margin-top to create space above the heading */
  position: relative;
  margin-top: 100px;
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2em;
  padding-bottom:5rem;
  color: rgb(238, 234, 230);
  border-radius: 5px;
  padding-top: 0px;
}

.projects {
  display: flex;
  justify-content: space-between; /* Ensure projects are aligned horizontally with space between */
  margin-bottom: 20px; /* Add margin-bottom to create space at the bottom */
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; /* Adjust width of each project */
}

.project-image {
  height: 350px; /* Increase height of image box */
  width: 330px; /* Decrease width of image box */
  overflow: hidden; /* Hide overflow if image is larger */
  border-radius: 20px; /* Curved joint for top left corner */
  border: solid 4px rgb(65, 66, 69);
}

.project-image-inner {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
}

.project-content {
  height: auto; /* Set height of content box */
  width: 330px; /* Decrease width of content box */
  background-color: rgb(32, 26, 21);
  border-radius: 10px; /* Curved joint for top left corner */
  border: 2px solid rgb(67, 66, 66);
  padding: 8px;
  font-size: small;
  text-align: justify;
  margin-top: 10px; /* Adjust gap between image and content */
}
.project-title1 {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 3px; 
  margin-left: 0px;
  color: rgb(236, 235, 233);
  
}